@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100&display=swap');

.container{
    color: rgb(0, 0, 0);
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight:bolder;
 
}

.carousel-inner{

    width: 400px;
    height: 400px;
    

}

.container-carrusel{

    width: 400px;
    height: 400px;
    

}






